.imgContainer {
    width: 300px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    margin-left: 30px;
}
.unluckySignLogo {
    object-fit: cover;
    width: 90%;
    height: 90%;
    margin-top: 5px;
}

.unluckySignLogo2 {
    display: none;
    width: 30%;
}

.navbarContainer {
    z-index: 2; /* Higher than the mobile menu */
    display: flex;
    width: 100vw;
    margin-top: 25px;
    height: 10vh;
    position: relative;
    justify-content:center;
}

.menuContainer {
    display: flex;
    justify-content: flex-end;
    width: 85%;
    max-width: 800px;
    align-items: center;
    gap: 5%;
}

.link {
    text-decoration: none;
    font-size: 1.0rem;
    flex-shrink: 0;
}

.link:hover {
    scale: 1.1;
}

.innerNavbarContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 55px;
}

.burgerContainer {
    display: none;
    justify-content: center;
    align-items: center;
}

.burgerMenu {
    width: 45px;
}

.hr {
    position: absolute;
    right: 0;
    width: 90%;
    height: 1px;
    background-color: #e5e5e5;
    margin-top: 1%;
}

@media screen and (max-width: 918px) {
    .burgerContainer {
        display: flex;
        justify-self: flex-end;
    }

    .unluckySignLogo {
        display: none;
    }

    .innerNavbarContainer {
        margin-right: 30px;
    }

    .menuContainer {
        display: none !important;
    }

    .unluckySignLogo2 {
        display: flex;
    }

    .link {
        display: flex;
        justify-content: flex-end;
        margin-right: 4%;
        width: 200px;
    }

    .link:hover {
        scale: 1;
    }
}