
.LogoContainer3D {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.video {
    width: 100%;
    max-width: 900px;
    margin-bottom: 45px;
    margin-right: 40px;
}

@media screen and (max-width: 667px) {
    .video {
        margin-bottom: 40px;
        margin-right: 10px;
    }
}

.mainContainer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
}