.button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.codeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

.input {
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    margin: 20px;
}

.container {
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 13px white, 0 0 31px white, 0 0 34px white;
}

.secret_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px 0 40px;
}

@media (max-width: 790px) {

    .list {
        align-items: flex-start;
    }

}